.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  box-shadow: 0 5px 20px #0000002c;
  height: 125px;
}

.nav-logo{
  height: 100%;
  margin-left: 20px;
}

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.hero-collage{
  align-self: center;
  margin-top: 50px;

  width:100%;
}

.hero-description{
  width: 300px;
  color: #747474
}

.card-container{
  position: relative;

  width: 250px;
  height: 400px;
  color: #4e4e4e;

  font-size: 1.1em;

  margin: 20px;
}

.thumb{
  object-fit: cover;
  width: 100%;
  height: 80%;

  margin-bottom: 5px;

  border-radius: 10px;
}

.star-icon{
  width: 20px
}

.star-container > p{
  display: inline;
  margin: 0 3px;
  color: #8b8b8b;

}

.star-container > p:first-of-type{
  font-weight: 500;
}

.card-description{
  margin: 10px 0;
}

.pricing > p:first-of-type{
  color:black;
  font-weight: bold;
}

.pricing > p{
  display: inline;
}

.card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 7px;
  height: 1.5ch;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

